/*********************************************************TAG SECTION*****************************************************************/
body
{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
/*********************************************************CLASS SECTION***************************************************************/
/*-------TITLE------*/
.title-company-logo
{
    color: #ffffff;
    font-size: 30px;
    font-weight: 2px;
    letter-spacing: 30px;
}
.title-company-bot-logo
{
    color: #ffffff;
    font-size: 35px;
    font-weight: 100px;
    letter-spacing: 5px;
    margin-top: 145px;
}
.title-company-bot-logo-caption
{
    color: #ffffff;
    font-size: 17.5px;
    font-weight: 50px;
    line-height: 2;
    margin-top: 50px;
}
.nav-link
{
    color: #ffffff;
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 5px;
}
.nav-link:hover
{
    color: silver;
}
.intro-who-we-are-btn
{
    margin-top: 100px;
}
.intro-who-we-are-btn:hover
{
    color: black;
    transition: 1s;
}
/*-------Slider------*/
.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
/* The line of code: '.carousel-caption h5' says this: In the "carousel-caption" class theres is another tag called "h5" */
.carousel-caption h5
{
    color: #fff;
    font-size: 42px;
}
.img-fluid-4
{
    width: 100%;
}
.opening-home
{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
}
.feature-icon
{
    margin-bottom: 50px;
    color: black;
    --fa-animation-duration: 2s
}
.feature-icon:hover
{
    color:silver
}
.intent-of-action-head
{
    padding-bottom: 10px;
}
.details-hr
{
    border-style: dotted;
    border-width: 15px;
    border-top: none;
    margin-left: 45.60%;
    margin-top: 0;
    max-width: 9%;
    min-width: 9%;
}
.section-h1
{
    padding-top: 50px;
    padding-bottom: 100px;
}
.card-row-one
{
    width: 400px;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #F9F9F9,
                -15px -15px 30px #F9F9F9;
}
.detail-row-img
{
    width: 150px;
    height: 150px;
}
.card-body
{
    line-height: 2;
}
.odd-row
{
    margin-left: 175px;
}
.even-row
{
    margin-left: 915px;
}
.group-company
{
    padding-top: 10px;
}
.section-one-col-one-par
{
    padding-top: 55px;
    padding-bottom: 150px;
    padding-left: 0px;
}
.section-two-client-model-icon
{
    padding-top: 50px;
    padding-bottom: 50px;
}
.background-video
{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    max-height: 710px;
}
.hero
{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-video-h1
{
    justify-content: center;
}
.video-text
{
    text-align: center;
    color: #fff;
    font-size: 160px;
    font-weight: 600;
}
.products-btn
{
    margin-top: 175px;
    transition: 1s;
}
/*--------------Contact----------------*/
.contact
{
    padding-top: 50px;
    background: linear-gradient(#3C4048,#3C4048);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
/* The line of code: '.contact .row' says this: In the "contact" class theres is another class called "row" */
.contact .row
{
    padding: 30px 0;
    font-size: 22px;
}
/* The line of code: '.contact .col-md-4 .fa' says this: In the "contact" class theres is another class called "col-md-4" there is another class called "fa" */
.contact .col-md-4 .fa
{
    padding: 10px;
    font-size: 40px;
}
/* The line of code: '.contact .btn' says this: In the "contact" class theres is another class called "btn" */
.contact .btn
{
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: transparent;
}
/* The line of code: '.contact .btn:focus' says this: In the "contact" class theres is another class called "btn" and I have set a focus */
.contact .btn:focus
{
    box-shadow: none !important;
}
/* The line of code: '.contact .btn:focus' says this: In the "contact" class theres is another class called "btn" and I have set a hover state */
.contact .btn:hover
{
    border: 2px solid #000 !important;
    background: #000 !important;
    transition: 0.6s;
}
/* The line of code: '.contact .btn' says this: In the "contact" class theres is another class called "btn" and within that class there is another class called "fa" */
.contact .btn .fa
{
    margin-right: 10px;
}
.footer
{
    background: #000;
    height: 100px;
    margin-top: 50px;
    color: #fff;
    padding-top: 10px;
    letter-spacing: 2px;
}
.fa-heart-o
{
    color: red;
}
.footer-quote
{
    padding-top: 10px;
    letter-spacing: 3px;
}
.contact-person-one
{
    padding-top: 15px;
    padding-bottom: 5px;
}
.profile-icon
{
    padding-top: 10px;
    padding-bottom: 6px;
}
.Watermark
{
    letter-spacing: 4px;
}
/*********************************************************ID SECTION******************************************************************/
#title
{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(Images/LAMA\ IMAGE\ BANNER2.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
}
#slider
{
    width: 100%;
    padding-bottom: 100px;
}
#section-one
{
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 100px;
    text-align: center;
}
#section-two
{
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 100px;
    text-align: center;
}
#section-three
{
    margin-top: 180px;
    margin-bottom: 180px;
    background-image: linear-gradient(url(Images/Moving\ City\ Night.mp4));
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
}
/*********************************************************MEDIA QUERIES*******************************************************************/
@media only screen and (max-width: 1028px)
{
    body 
    {
        margin: 0;
        padding: 0;
    }
    #title
    {
        text-align: center;
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .title-company-logo
    {
        color: #ffffff;
        font-size: 30px;
        font-weight: 20px;
        letter-spacing: 7px;
        text-align: center;
        margin-left: 0;
    }
    .title-company-bot-logo
    {
        line-height: 1.5;
        margin-top: 60px;
        margin-left: 5px;
    }
    .title-company-bot-logo-caption
    {
        color: #ffffff;
        font-size: 12px;
        letter-spacing: 0px;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 40px;
    }
    .intro-who-we-are-btn
    {
        margin-left: 0px;
        margin-top: 10px;
    }
    #slider
    {
        padding-bottom: 20px;
    }
    #section-one
    {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #section-two
    {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    }
    .section-two-h1
    {
        padding-top: 25px;
        padding-bottom: 30px;
        font-size: 20px;
    }
    .nav-link
    {
        color: #ffffff;
        padding-top: 30px;
        font-size: small;
    }
    .carousel-caption h5
    {
        font-size: small;
    }
    .carousel-indicator
    {
        width: 3px;
    }
    .intent-of-action-par
    {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .feature-icon
    {
        margin-bottom: 35px;
    }
    .details-hr
    {
        border-width: 6px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .odd-row
    {
        margin-left: 5px;
    }
    .even-row
    {
        margin-left: 5px;
    }
    .group-company
    {
        padding-bottom: 50px;
    }
    .detail-row-img
    {
        width: 120px;
        height: 120px;
    }
    .card-row-one
    {
        width: 350px;
        border-radius: 30px;
        box-shadow: 15px 15px 30px #F9F9F9,
                    -15px -15px 30px #F9F9F9;
    }
    #section-three
    {
        margin-top: 90px;
        margin-bottom: 90px;
    }
}
@media (min-aspect-ratio: 16/9)
{
    .background-video
    {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9)
{
    .background-video
    {
        width: auto;
        height: 100%;
    }
}
@media only screen and (max-height: 412px)
{
    .Home-first
    {
        margin-left: 20px;
    }
}
@media only screen and (max-width: 390px)
{
    .Home-first
    {
        margin-left: 10px;
    }
}
@media only screen and (max-width: 360px)
{
    .card-row-one
    {
        width: 323px;
        border-radius: 30px;
        box-shadow: 15px 15px 30px #F9F9F9,
                    -15px -15px 30px #F9F9F9;
    }
    #section-three
    {
        margin-top: 90px;
        margin-bottom: 90px;
    }
}